<!DOCTYPE html>
<html>
<head>
  <title>CO NO</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<body>
  <nav class="navbar navbar-inverse main-custom  navbar-fixed-top">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="container" >
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand"   href="/" id="brand"href="#">CO <b>NO</b>&nbsp;<span class="fa fa-tint"	></span></a>	   
	    </div>	  
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">     
	      <ul class="nav navbar-nav navbar-right" id=>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" id="home-drop"data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
	          <ul id="drop" class="dropdown-menu">
	            <li><%= link_to "Posts", posts_path %></li>
	            <li><%= link_to "login", login_path %></li>
	            <li><%= link_to "logout", logout_path, :id => "logout" %></li>
	            <li> <a id="edit-account" data-toggle="modal" data-target="#editAccount"> <span class=" fa fa-edit"></span>Edit Account</a></li> 
	            <li role="separator" class="divider"></li>
	            <li><a href="/search"> <span class=" fa fa-search">Seach for notes</span></a></li>          </ul>
	        </li>
	      </ul>
	     </div>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	 
	</nav>
 <div class="modal fade" id="editAccount" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Account!</h4>
        </div>
        <div class="modal-body">
        
         <%= render 'layouts/form.html.erb' %>
       </div>
      <div class="modal-footer">    
        </div>
      </div>
      
    </div>
  </div>




  
  <%= yield %>
  

</body>
</html>
